*{
    transition: .2s;
}

h1{
    color: #000;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #17b0d0;
    margin: 0;
    text-align: left;
    border-radius: 10px;
    padding: 0 1%;
}

form{
    border-radius: 10px;
    width: 100%;
    color: #17b0d0;
    background-color: #000;
}

main{
    width: 70%;
}

aside{
    width: 20%;
    margin: 0 auto;
    color: #000;
}

input{
    color: #000;
    opacity: .7;
}

@media(max-width: 768px){
    label{
        font-size: 12px;
    }
}

.block-header{
    z-index: 1;
    position: fixed;
    width: 100%;
    padding: 15px 1% 15px 10%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-header svg{
    width: 2em;
    height: 2em;
}

.block-users{
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}

.block-user{
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    color: #17b0d0;
    background: #000;
    text-align: left;
    margin: 20px 20px;
    padding: 20px;
}

.block-user input{
    padding: 1% 3%;
    margin: 0;
}

.block-user form label{
    display: grid;
    grid-template-columns: 1fr 2fr;
    flex-direction: row;
}

.block-user #button-add-user{
    width: 98%;
}

.block-user::first-letter{
    text-transform: uppercase;
}

.block-user:hover{
    border: 2px solid #808080;
    padding: 20px 5%;
}

.block-user-property{
    display: grid;
    grid-template-columns: 2fr 2fr .1fr;
}

.property{
    border-bottom: 1px solid yellow;
}

.block-user-buttons{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    gap: 15px;
}

.block-user-buttons svg{
    font-size: 25px;
}

form label{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
}

form input{
    width: 100%;
    padding: 3% 10px;
    margin: 10px 0 0 0;
    border: 0;
    border-radius: 10px;
    background-color: #17b0d0;
}

form label[for='toMarried']{
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: row;
}

form label[for='toMarried'] input{
    margin: 5px 0 0 0;
    width: 50px;
}

#button-add-user{
    cursor: pointer;
    color: #000;
    background-color: yellow;
    width: 96%;
    height: 29.5px;
    border-radius: 10px;
    margin: 5px;
}

#button-add-user:hover{
    color: yellow;
    background-color: #000;
}

@media(max-width: 575px) {
    .block-header{
        display: grid;
        grid-template-columns: 3fr 1fr;
        place-items: center;
        padding: 15px 1% 15px 20%;
        font-size: 18px;
    }

    main{
        width: 100%;
    }

    aside{
        width: 97%;
    }
    
    .block-users{
        flex-direction: column-reverse;
    }

    .block-user{
        width: auto;
        margin: 10px;
    }

    .block-user-property{
        font-size: 12px;
    }

    .block-user-buttons svg{
        font-size: 20px;
    }
}

.info-block{
    opacity: .9;
    text-transform: uppercase;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    background-color: #000;
    color: #17b0d0;
    padding: 1%;
}

.block-addition-info{
    display: flex;
    padding: 1%;
}

.block-addition-info textarea{
    width: 100%;
    height: 100px;
    border: 0;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    margin: 1% 0 1% 1%;
    padding: 1%;
    background-color: #17b0d0;
}

.block-addition-info button{
    background-color: #000;
    cursor: pointer;
    border: 0;
    border-radius: 0 10px 10px 0;
    font-size: 18px;
    text-transform: uppercase;
    margin: 1% 1% 1% 0;
    padding: 0 3%;
    font-weight: bolder;
    animation-name: changeBackground;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes changeBackground{
    0%{
        background-color: #17b0d0;
        color: #000;
    }
    100%{
        background-color: #000;
        color: #17b0d0;
    }
}

.block-addition-info button:hover{
    background-color: #17b0d0;
}

.button-back{
    margin: 1%;
    float: left;
}

@media (max-width: 800px) {
    .info-block{
        padding: 5%;
        grid-template-columns: repeat(1 , 1fr);
    }
    .block-addition-info textarea{
        height: 50px;
    }
    .button-back{
        margin: 5%;
    }
}

